<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://onlinelibrary0.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>onlinelibrary0.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OnlineLibrary0</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$OnlineLibrary0</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OnlineLibrary.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="name=&quot;DefaultConnection&quot; connectionString=&quot;Data Source=rds63dvzg67f17fu503z.mysql.rds.aliyuncs.com; User Id=r4cv1pa41f4nqv52; " />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="OnlineLibrary.Models.ApplicationDbContext, OnlineLibrary" MigrationConfiguration="OnlineLibrary.Migrations.Configuration, OnlineLibrary" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="user id=cdb_outerroot;server=5758ead546603.sh.cdb.myqcloud.com;port=3603;database=testdb;persistsecurityinfo=True;password=ab123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="User Id=cdb_outerroot;Host=5758ead546603.sh.cdb.myqcloud.com;Port=3603;Database=testdb;Persist Security Info=True;password=ab123456" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OnlineLibrary.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>name="DefaultConnection" connectionString="Data Source=rds63dvzg67f17fu503z.mysql.rds.aliyuncs.com; User Id=r4cv1pa41f4nqv52; </ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="OnlineLibrary.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>